

        <StackLayout   class=top flexGrow="2">
            
                      <Label text='user name :  {{user.userName}}' ></Label>
                      <Label text='password:  {{user.password}}' ></Label>
                      <Label text='e-mail:  {{user.email}}' ></Label>
                      <Label text='given name:  {{user.givenName}}' ></Label>
                      <Label text='last Name:  {{user.lastName}}' ></Label>
                    <Button  flexGrow="1" text="Sign Out"  (tap)="signOut()" automationText="signInBtn" class=loginBtn></Button>  
                </StackLayout  >
            